<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ap.kl.mapper.DeviceinfoMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 ID, SERVER_ID, SERVER_IP, DEVICE_ID, DEVICE_ODM, DEVICE_PLACE, INSERT_TIME, INSERT_USER, UPDATE_TIME, UPDATE_USER, DEL_FLG
	</sql>
	<select id="selectAllDeviceInfo" resultType="Deviceinfo">
	   SELECT 
		    ID,
			SERVER_ID,
			SERVER_IP,
			DEVICE_ID,
			DEVICE_ODM,
			DEVICE_PLACE,
			INSERT_TIME,
			INSERT_USER,
			UPDATE_TIME,
			UPDATE_USER,
			DEL_FLG,
	   FROM
	       DEVICEINFO
	</select>

</mapper>