.loginpanel{
    background: rgba(255,255,255,.2);
    border: 1px solid rgba(255,255,255,.3);
    -moz-box-shadow: 0 3px 0 rgba(12,12,12,.03);
    /* -webkit-box-shadow: 0 3px 0 rgba(12,12,12,.03); */
    box-shadow: 0 3px 0 rgba(12,12,12,.03);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 30px;
}
.loginbackground{
	height: auto;
    background: url(../login/login-background.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* color: rgba(255,255,255,.95); */
}